!apt-get install -y ffmpeg portaudio19-dev rubberband-cli
!pip install gradio
!pip install git+https://github.com/facebookresearch/audiocraft.git
!pip install git+https://github.com/CPJKU/madmom
!pip install BeatNet
!pip install pyaudio
!pip install pyrubberband==0.3.0